@import "_fonts.scss";

@import "_layout.scss";
@import "_grid.scss";
@import "_tools.scss";
@import "_power.scss";
@import "_generator.scss";
@import "_context-menu.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #616353;
}

#_preload_ {
    display: none;
}